body {
  display: flex;
  background-color: #272727;
  color: yellow;
  margin: 0;
  margin-bottom: 10px;
  overflow: scroll;

}
h1 {
  font-size: 50px;
  margin-bottom: 0px;
}

h4{
  font-size: 20px;
}
.all{
  
  width: 100%;
  height: 100%;
  
}
.container{
  display: flex;
  justify-content: center;


}
.informationMother{
  display: flex;
  justify-content: center;
}
.information{
  width: 50%;
  text-align: center;
}
text {
  text-anchor: middle;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  fill: #666;
  font-size: 16px;
}

.map {
  display: flex; 
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 35%;
  height: 100%;
  background: rgba(60, 60, 60, 0.4);
  border-radius: 30px;
  position: relative; 
  box-shadow: inset 0px 0px 10px 5px rgb(29, 30, 31);
  flex-direction: column; 
  justify-content: space-between; 
  padding-bottom: 20px; 
}



#hoverName{
  
  position: absolute;
  top: 15%;
  left: 5%;
  
 
}

#hoverName h2{
  font-size: 30px;
  display: inline-block; 
  margin-right: 5px; 
}

#hoverName h3{
  font-size: 25px;
  display: inline-block; 
  margin-right: 5px; 

}
.mainbody{
    
    top: 40px; /* Header Height /
    bottom: 20px; / Footer Height */
    width: 100%;
}

.containerMap{
  display: flex;
  flex-direction: row; 
  align-items: flex-start; 
  flex-wrap: wrap; 
 
}

#info{
 
  text-align: center;
  width: 300px;
  

  background: rgba(60, 60, 60, 0.4);
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 1px;
  box-shadow: -5px 5px 5px rgb(29, 30, 31);
  margin: 10px;
}


#info h3{

  margin-bottom: 0px;
}

.dropdown{
  text-align: center;
  background: rgba(60, 60, 60, 0.4);
  border-radius: 10px;
  padding-bottom: 10px;
  margin: 10px;
  box-shadow: -5px 5px 5px rgb(29, 30, 31);
}

.rangeSliders{
  width: 300px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column; 
  text-align: center;
  
  margin: 10px;
  border-radius: 10px;
  background: rgba(60, 60, 60, 0.4);
  box-shadow: -5px 5px 5px rgb(29, 30, 31);
}
.dropAndInfo{
  display: flex;
  flex-direction: column; 
  justify-content: center;
}

.slidecontainer{
  margin-bottom: 10px;
}


